body {
  font-family: 'Open Sans', sans-serif;
}

/*@media (min-width: 768px) {
  body {
  margin: auto;
  max-width:1600px;
  }
}*/

.bg-light-gray {
  background-color: lightgray;
}


.jumbotron {
  padding: 0px;
  margin-bottom: 30px;
  background-color: #E8E8E8;
	background-image: url('/assets/intro-back-gr.jpg');
	background-position: center center;
	background-size: cover;
}

.intro-message {
  position: relative;
  text-align: center;
  color: white;
  padding-top: 20%;
  padding-bottom: 20%;

}

.intro-message > h1 {
  margin: 0;
  text-shadow: 2px 1px 2px rgba(0,0,0,0.8);
  font-size: 4em;
  font-weight:300-light;
}

.intro-message > h3 {
  margin: 0;
  text-shadow: 1px 1px 1px rgba(0,0,0,1);
  font-size: 2em;
  font-weight:300-light;
}

.intro-divider {
  width: 500px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.alert {
	margin-bottom: 0px;
	padding:10px;
  font-size: 1em;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
	text-align:center;
	font-style: bold;
}

@media(max-width:767px) {

  .intro-message {
    padding-bottom: 5%;
  }

  .intro-message > h1 {
    font-size: 2.5em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  }

  .intro-message > h3 {
    margin: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    font-size: 1.5em;
    font-weight:300-light;
  }

  .intro-divider {
    width: 80%;
  }

}


.container {

}
